filedossier-api/src/main/resources/schemas/filedossier/application.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:command="urn:ru:ilb:filedossier:command"
             xmlns:view="urn:ru:ilb:filedossier:view"
             xmlns:global="urn:ru:ilb:global"
             xmlns:core="urn:ru:ilb:filedossier:core"
>
    <grammars>
        <include href="global.xsd" />
        <include href="command.xsd" />
        <include href="view.xsd" />
    </grammars>

    <resource_type id="dossierResource">
        <doc title="dossier resource"/>

        <method name="GET" id="getDossier">
            <doc>get dossier instance</doc>
            <request></request>
            <response>
                <representation mediaType="application/xml" element="view:dossier">
                    <doc>dossier data</doc>
                </representation>
                <representation mediaType="application/json">
                    <doc>dossier data</doc>
                </representation>
<!--                <representation mediaType="application/xhtml+xml">
                    <doc>dossier data</doc>
                </representation>-->
            </response>
        </method>

        <resource path="dossierfiles">
            <resource path="{fileCode}" id="dossierFileResource" type="#dossierFileResource">
                <param name="fileCode" style="template" type="xsd:string">
                    <doc>file code</doc>
                </param>
            </resource>
        </resource>
    </resource_type>

    <resource_type id="dossierContextResource">
        <method name="GET" id="getContext">
            <doc>get dossier context</doc>
            <request></request>
            <response status="200">
                <representation mediaType="application/json" element="global:map">
                    <doc>processInstances data</doc>
                </representation>
<!--                <representation mediaType="application/json">
                    <doc>processInstances data</doc>
                </representation>-->
            </response>
        </method>

        <method name="PUT" id="setContext">
            <doc>store dossier cotnext</doc>
            <request>
                <representation mediaType="application/json" element="global:map">
                    <doc>processInstances data</doc>
                </representation>
<!--                <representation mediaType="application/json">
                    <doc>processInstances data</doc>
                </representation>-->
            </request>
            <response status="204"></response>
        </method>
    </resource_type>

    <resource_type id="dossierFileResource">
        <method name="GET" id="download">
            <doc>get dossier file contents</doc>
            <request>
                <param name="mode" style="query" type="core:contentDispositionMode" default="attachment"/>
            </request>
            <response status="200">
                <param name="Content-Disposition" style="header" type="xsd:string"/>
                 <representation mediaType="application/octet-stream"/>
            </response>
        </method>

        <resource path="upload">
            <method name="POST" id="upload">
                <doc>store dossier file contents</doc>
                <request>
                    <representation mediaType="multipart/form-data">
                        <doc>file data</doc>
                        <param style="query" name="file" type="java.io.File" />
                    </representation>
                </request>
                <response status="204"/>
            </method>
        </resource>

        <resource path="publish">
            <method name="POST" id="publish">
                <doc>store dossier file contents</doc>
                <request>
                    <representation mediaType="multipart/form-data">
                        <doc>file data</doc>
                        <param style="query" name="file" type="java.io.File" />
                    </representation>
                </request>
                <response status="204"/>
            </method>
        </resource>

        <resource path="context" id="dossierContextResource" type="#dossierContextResource"/>
    </resource_type>

    <resources>
        <resource path="dossiers">
            <resource path="{dossierKey}/{dossierPackage}/{dossierCode}" id="dossierResource" type="#dossierResource">
                <param name="dossierKey" style="template" type="xsd:string">
                    <doc>dossier key</doc>
                </param>
                <param name="dossierPackage" style="template" type="xsd:string">
                    <doc>dossier package</doc>
                </param>
                <param name="dossierCode" style="template" type="xsd:string">
                    <doc>dossier code</doc>
                </param>
            </resource>
        </resource>
    </resources>
</application>
